NetCoreWebApp/.vs
NetCoreWebApp/NetCoreWebApp/bin
NetCoreWebApp/NetCoreWebApp/obj
NetCoreWebApp/ApplicationCore/bin
NetCoreWebApp/ApplicationCore/obj
NetCoreWebApp/Infrastructure/obj
NetCoreWebApp/Infrastructure/bin
